<br/>
<br/>
<h3 style="text-align: center;">¿Qué es Servirep?</h3>
<br/>
<div class="container">
    <p style="text-align: center;">En ServiRep contamos con amplia experiencia al servicio de nuestros clientes. Estamos dedicados a realizar mantenimientos e instalaciones eléctricas. Trabajamos con personal cualificado. No dude en consultarnos, le atenderemos con profesionalidad.
        Nos encontramos situados en Toda Europa.
    </p>
</div>
<br/>
<div class="container">
    <p style="text-align: center;">No simplemente un servicio técnico en el que nos llamen y nos digan que vayamos a ver el problema para repáralo sino que además podemos dar la parte técnica de asesorar y cómo mejorar esa máquina para que vaya más deprisa, produzca más, tenga menos
        problemas e incluso cómo hacerla más eficiente con ahorro energético.
    </p>
</div>
<br/><br/>

<h3 style="text-align: center;">Nuestro Equipo</h3>
<br/>
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://i.ibb.co/JpzphDM/hacking-computer-focused-programming-500x350.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Jorge Camacho</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://i.ibb.co/4g57TnQ/thumb-blog-264.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Eva García</h5>
                    <div class="card-text text-black-50">RRHH</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://i.ibb.co/GpcpGcT/images.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Fernando Rabanal</h5>
                    <div class="card-text text-black-50">Becario en prácticas</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://images-na.ssl-images-amazon.com/images/I/51tJJQ5I9WL._AC_.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Pedro Piedra</h5>
                    <div class="card-text text-black-50">Ingeniero de caminos</div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<h3 style="text-align: center;">¿Dónde nos encontramos?</h3>
<br/><br/>
<div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d666.4640686387503!2d-5.97318507412655!3d37.3837954672541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126ebccd37f6d5%3A0x57dd04257b1cc371!2sNervi%C3%B3n%20Plaza!5e0!3m2!1ses!2ses!4v1614822182238!5m2!1ses!2ses"
        width="1120px" height="auto" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<br/><br/><br/>