.logoCabecera {
    width: 50px;
    height: 50px;
}

.registrarseDiv {
    float: right;
}

.fuentenav {
    color: black;
}

.fieldsett2 {
    border: 1px solid;
    padding: 20px;
    text-align: center;
    -moz-border-radius: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}


/*login*/

.fieldsett {
    border: 1px solid #8ebafd;
    background: #EAF2FF;
    padding: 0 0.5em 1em 0.5em;
    text-align: center;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.loginDiv {
    text-align: center;
    width: 50%;
    padding: 10px;
    float: none;
    margin: auto;
}

.boldlogin {
    font-weight: 700;
    margin-left: 5px;
}