<br/>
<br/>
<h3 align="center" *ngIf="listaTickets[0] != null">Mis Incidencias</h3>
<br/>
<h3 align="center" *ngIf="listaTickets[0] == null">No tiene ningún ticket a su nombre!</h3>
<br/>
<br/>
<div align="center">
    <img *ngIf="listaTickets[0] == null" src="https://www.freeiconspng.com/uploads/error-icon-3.png" />
</div>

<form [formGroup]="salvarForm" class="form">
    <table class="table" *ngIf="listaTickets[0] != null">
        <thead>
            <tr>
                <th scope="col">Informacion</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha Solicitud</th>
                <th scope="col">Fecha Finalización</th>
                <th scope="col">Puntuar</th>
                <th scope="col">Comentario</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let listaTicket of listaTickets">
                <td style="display:none;" value="listaTicket.idticket" id="idticket">
                    {{listaTicket.idticket}}
                </td>
                <td>
                    {{listaTicket.informacion}}
                </td>
                <td>
                    {{listaTicket.es}}
                </td>
                <td>
                    {{listaTicket.fechaCreacion}}
                </td>
                <td>
                    {{listaTicket.fechaFinalizacion}}
                </td>
                <td>
                    <select required formControlName="calificacion"> 
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" id="comentario" name="comentario" formControlName="comentario" placeholder="Escribe un comentario">

                    </div>
                </td>
                <td>
                    <button class="btn btn-success" (click)="salvarComentario(listaTicket.idticket, salvarForm)">
                    Salvar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<div style="height: 23rem;"></div>