<br/><br/>
<h3>Todos los Tickets</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID Incidencia</th>
            <th scope="col">Detalle</th>
            <th scope="col">Estado</th>
            <th scope="col">Operario</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" id="idincidencia" name="idincidencia" formControlName="idincidencia" placeholder="ID">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <textarea class="form-control" id="detalle" rows="1" name="detalle" formControlName="detalle" placeholder="Detalle de la incidencia">

                        </textarea>
                </div>
            </td>
            <td>
                <select>
                        <option>ASIGNADO</option>
                        <option>ENCURSO</option>
                        <option>PENDIENTEEXTERNO</option>
                        <option>RESUELTO</option>                   
                    </select>
            </td>
            <td>
                <select>
                    <option></option>            
                </select>
            </td>
            <td>
                <button class="btn btn-warning">
                    Modificar
                </button>
                <button class="btn btn-danger">
                    Eliminar
                </button>
            </td>
        </tr>

    </tbody>
</table>