<br/>
<h3 align="center">Gestión de incidencias</h3>
<br/>
<form [formGroup]="todoform" class="form">

    <table class="table">

        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Detalle</th>
                <!--<th scope="col">Operario Asignado</th>-->
                <th scope="col">Asignar Operario</th>
                <th scope="col">Estado Actual</th>
                <th scope="col">Cambiar Estado</th>
                <th scope="col">Fecha Solicitud</th>
                <th scope="col">Fecha Finalización</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let listaTicket of listaTickets">
                <td id="idticket" value="listaTicket.idticket">
                    {{listaTicket.idticket}}
                </td>
                <td id="detalle" value="listaTicket.informacion">
                    {{listaTicket.informacion}}
                </td>
                <!--<td id="usuarioEmpleado" value="listaTicket.usuarioEmpleado.correo">
                    {{listaTicket.usuarioEmpleado.correo}}
                </td>-->
                <td>
                    <select id="operario" formControlName="operario">
                        <option *ngFor="let listaUsuario of listaUsuarios" value="{{listaUsuario.correo}}">
                            <span *ngIf="listaUsuario.roll.toString() == operario">{{listaUsuario.correo}}</span>
                        </option>                                          
                    </select>
                </td>
                <td id="esss" value="listaTicket.es">
                    {{listaTicket.es}}
                </td>
                <td id="estado">
                    <select required formControlName="estado"> 
                        <option value="0" selected>ASIGNADO</option>
                        <option value="1">ENCURSO</option>
                        <option value="2">PENDIENTEEXTERNO</option>
                        <option value="3">RESUELTO</option>
                        <option value="4">PENDIENTECONFIRMACION</option>
                        </select>
                </td>
                <td id="detalle" value="listaTicket.fechaCreacion">
                    {{listaTicket.fechaCreacion}}
                </td>
                <td id="detalle" value="listaTicket.fechaFinalizacion">
                    {{listaTicket.fechaFinalizacion}}
                </td>

                <td>
                    <button class="btn btn-success" (click)="subirTicket(listaTicket.idticket, todoform)">
                    Salvar
                    </button>
                    <button class="btn btn-danger" (click)="borrarTicket(listaTicket.idticket)">
                        Borrar
                    </button>
                </td>

            </tr>
        </tbody>

    </table>

</form>
<div style="height: 20rem;"></div>