<br/>
<br/>
<h1 align="center"><b>Gestión de incidencias</b></h1>
<br/>
<form [formGroup]="todoform" class="form">
    <div class="bordespp">
        <table class="table table-responsive">

            <thead>
                <tr>
                    <th scope="col"><b>ID</b></th>
                    <th scope="col"><b>DETALLE</b></th>
                    <th scope="col"><b>ASIGNAR OPERARIO</b></th>
                    <th scope="col"><b>ESTADO ACTUAL</b></th>
                    <th scope="col"><b>CAMMBIAR ESTADO</b></th>
                    <th scope="col"><b>FECHA DE SOLICITUD</b></th>
                    <th scope="col"><b>FECHA DE FINALIZACIÓN</b></th>
                    <th scope="col"><b>OPCIONES</b></th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let listaTicket of listaTickets | paginate: {itemsPerPage: 5, currentPage: pageActual}; let i = index">
                    <td id="idticket" value="listaTicket.idticket">
                        {{listaTicket.idticket}}
                    </td>
                    <td id="detalle" value="listaTicket.informacion">
                        {{listaTicket.informacion}}
                    </td>
                    <td>
                        <select id="operario" formControlName="operario">
                        <option *ngFor="let listaUsuario of listaUsuarios" value="{{listaUsuario.correo}}">
                            <span *ngIf="listaUsuario.roll.toString() == operario">{{listaUsuario.correo}}</span>
                        </option>                                          
                    </select>
                    </td>
                    <td id="esss" value="listaTicket.es">
                        {{listaTicket.es}}
                    </td>
                    <td id="estado">
                        <select required formControlName="estado"> 
                        <option value="0" selected>ASIGNADO</option>
                        <option value="1">ENCURSO</option>
                        <option value="2">PENDIENTEEXTERNO</option>
                        <option value="3">RESUELTO</option>
                        <option value="4">PENDIENTECONFIRMACION</option>
                        </select>
                    </td>
                    <td id="detalle" value="listaTicket.fechaCreacion">
                        {{listaTicket.fechaCreacion}}
                    </td>
                    <td id="detalle" value="listaTicket.fechaFinalizacion">
                        {{listaTicket.fechaFinalizacion}}
                    </td>

                    <td>
                        <button class="btn btn-success" (click)="subirTicket(listaTicket.idticket, todoform)">
                    Salvar
                    </button>
                        <button class="btn btn-danger" (click)="borrarTicket(listaTicket.idticket)">
                        Borrar
                    </button>
                    </td>

                </tr>
            </tbody>

        </table>

        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
</form>
<div style="height: 20rem;"></div>