<br/>
<h1 style="text-align: center;"><b>Bienvenido a nuestro Foro!</b></h1>
<br/>
<br/>
<div class="container">
    <table class="table" *ngIf="listatemas != null">
        <thead>
            <tr>
                <th scope="col">Asunto</th>
                <th scope="col">Autor</th>
                <th scope="col">Fecha</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let listatema of listatemas">
                <td>
                    {{listatema.asunto}}
                </td>
                <td>
                    {{listatema.us.nick}}
                </td>
                <td>
                    {{listatema.fechaCreacion}}
                </td>
                <td>
                    <button type="submit" class="btn btn-light" [routerLink]="['/', 'visualizartema', listatema.idtema]">
                            Visitar
                    </button>
                </td>
            </tr>
        </tbody>

    </table>
    <br/>
</div>
<hr size="8px" color="black" width="75%" />
<br/>
<div style="width: auto;height: 300px;" class="container">
    <form [formGroup]="temaForm" class="form" (ngSubmit)="creaTema(temaForm)">
        <fieldset class="fieldsett2">
            <div class="form-group">
                <label for="asunto" style="float: left;">Asunto</label>
                <input type="text" class="form-control" id="asunto" name="asunto" formControlName="asunto" placeholder="Escribe el asunto...">
                <div class="alert alert-warning" *ngIf="(asunto.touched) && (asunto.invalid)" style="margin-top: 5px;">
                    <span *ngIf="asunto.errors.required">Debe completar este campo</span>
                    <span *ngIf="descripcion.errors.minlength">
                        Este campo requiere un tamaño mínimo de {{asunto.errors.minlength.requiredLength}} caracteres.
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="descripcion" style="float: left;">Descripción</label>
                <textarea class="form-control" id="descripcion" rows="5" name="descripcion" formControlName="descripcion" placeholder="Describe detalladamente la incidencia..."></textarea>

                <div class="alert alert-warning" *ngIf="(descripcion.touched) && (descripcion.invalid)" style="margin-top: 5px;">
                    <span *ngIf="descripcion.errors.required">Debe completar este campo</span>
                    <span *ngIf="descripcion.errors.minlength">
                        Este campo requiere un tamaño mínimo de {{descripcion.errors.minlength.requiredLength}} caracteres.
                    </span>
                </div>
            </div>

            <button [disabled]="!temaForm.valid" type="submit" class="btn btn-success">Crear Nuevo Tema</button>
        </fieldset>
    </form>
</div>
<div style="height: 30rem;"></div>