<div class="selectionDiv">
    <h3>Crear Tickets</h3>
    <form [formGroup]="ticketform" class="form" (ngSubmit)="subirTicket(ticketform)">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID Incidencia</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Operario</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>

            <tbody *ngFor="let incidencia of incidencias">

                <tr *ngIf="incidencia.creado != 1">
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="idincidencia" name="idincidencia" formControlName="idincidencia" placeholder="ID" value="{{incidencia.idincidencia }}">
                        </div>

                    </td>
                    <td>
                        <div class="form-group">
                            <textarea class="form-control" id="detalle" rows="3" name="detalle" formControlName="detalle" placeholder="Detalle de la incidencia" value="{{ incidencia.asunto }}: {{ incidencia.descripcion }}">

                        </textarea>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="estado" name="estado" formControlName="estado">

                    </td>

                    <td>
                        <select id="operario" formControlName="operario">
                        <option *ngFor="let listaUsuario of listaUsuarios" value="{{listaUsuario.idusuario}}">
                            <span *ngIf="listaUsuario.roll.toString() == operario">{{listaUsuario.correo}}</span>
                        </option>                                          
                    </select>
                    </td>
                    <td>
                        <button class="btn btn-success" type="submit">
                    Crear Ticket
                </button>
                        <button class="btn btn-warning" (click)="borrarInci(incidencia.idincidencia)">
                    BORRAR
                </button>
                    </td>

                </tr>

            </tbody>

        </table>
    </form>

    <br/>
    <hr>
    <br/>



</div>