<br/><br/>
<h1 style="text-align: center;"><b>Bienvenido a ServiRep</b></h1>
<br/><br/>
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://i.ibb.co/N6njzfS/carrousel1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://i.ibb.co/NZWXFYT/carrousel2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://i.ibb.co/WK1g6Xj/carrousel3.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://i.ibb.co/WtP2WsN/carrousel4.jpg" alt="fourth slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<br/><br/><br/>
<div class="container">
    <p style="text-align: justify;">En nuestra calidad de fabricante líder a escala internacional de suministros para el flujo de procesos, seguimos y asesoramos a nuestros clientes en su propia sede. En caso de necesidad, nuestros almacenes de piezas de repuesto de Europa, Asia y América
        nos permiten lograr unos tiempos de reacción extremadamente cortos. Así que con ServiRep estará en las mejores manos. En todo el mundo.</p>
    <br/>
    <h4 align="center"><b>Ayuda competente - en todo el mundo</b></h4>
    <br/>
    <p style="text-align: justify;">Nuestro servicio de asistencia técnica le ayuda de manera competente en todas las cuestiones de postventa. Para ello, mantenemos filiales de asistencia técnica en Europa, Asia y los Estados Unidos. Da lo mismo si necesita la ayuda de un miembro del
        servicio técnico para una reparación o el soporte en aplicaciones en su propia fábrica, o bien, si desea enviar un aparato averiado a su filial local ServiRepES: siempre estaremos ahí para lo que necesite.</p>
    <br/>
    <p style="text-align: justify;">Le asesorarán expertos de todos los grupos de productos. En nuestros competentes equipos de asistencia técnica encontrará la persona de contacto adecuada – desde el profesional polivalente que tiene una visión global de nuestra amplia gama de productos,
        hasta el experto que se ha especializado en un determinado grupo de productos y le puede asesorar en detalle.</p>
    <br/>
    <h4 align="center"><b>Orientación a los requerimientos de los clientes y los estándares</b></h4>
    <br/>
    <p style="text-align: justify;">Para ofrecerle en todo momento el mejor servicio, todos los procesos de asistencia técnica, es decir, tiempos de reacción, duración de la resolución de problemas, disponibilidad de la línea de atención telefónica, disponibilidad de las piezas de repuesto,
        etc., están sometidos a una monitorización detallada. De esta manera, podemos adaptar nuestros servicios permanentemente a los requerimientos de los clientes.</p>
    <br/>
    <p style="text-align: justify;">Como apoyo adicional, disponemos de procedimientos estandarizados de asistencia técnica y reparación que distinguen a todas las filiales de asistencia técnica de ServiRep. Estos procedimientos facilitan el trabajo a nuestros empleados bien formados
        y, sobre todo, a usted y garantizan una tramitación rápida, uniforme y de alta calidad en caso de asistencia técnica.</p>
    <br/>
    <h4 align="center"><b>Servicio de reparación urgente</b></h4>
    <br/>
    <p style="text-align: center;">¿El tiempo apremia? Las reparaciones estándar duran entre 10 y 14 días - en caso necesario, ¡utilice nuestro servicio de reparación urgente! Con ello, se beneficiará de una tramitación inmediata de su pedido después de la entrada de mercancías. ¡Póngase
        en contacto con nosotros a través del formulario de contacto!</p>

</div>
<br/><br/>
<br/>