<br/>
<br/>
<h1 style="text-align: center;"><b>Gestión de usuarios</b></h1>
<br/>

<div class="container">
    <form [formGroup]="userForm" class="form">

        <table class="width200" *ngIf="listausuarios != null">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nick</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Roll</th>
                    <th scope="col">Cambiar Roll</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let listausuario of listausuarios | paginate: {itemsPerPage: 5, currentPage: pageActual}; let i = index">
                    <td>
                        {{listausuario.idusuario}}
                    </td>
                    <td>
                        {{listausuario.nick}}
                    </td>
                    <td>
                        {{listausuario.correo}}
                    </td>
                    <td>
                        {{listausuario.roll}}
                    </td>

                    <td id="roll">
                        <select formControlName="roll" required> 
                    <option value="0">GESTOR</option>
                    <option value="1">OPERARIO</option>
                    <option value="2">USUARIO</option>
                    <option value="3">ADMIN</option>                   
                </select>

                    </td>
                    <td>
                        <button class="btn btn-success" (click)="salvarDatosUsuario(listausuario.idusuario, userForm)">
                        Salvar
                        </button>
                        <button class="btn btn-danger" (click)="borrarUsuario(listausuario.idusuario)">
                    Borrar
                    </button>
                    </td>
                </tr>
            </tbody>

        </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </form>
</div>
<div style="height: 20rem;"></div>